.content-1{
    display: flex;
}

.errore::placeholder{
    color:orangered!important; 
}
body{
    color:rgb(0, 0, 0);
}
.todo_text{
    margin:0 0 2rem;
    border-radius: 7px;
}
.callout{
    border:3px solid;
    border-radius: 35px;
}
.button.success {
    background-color: #25d7da;
    border-radius: 7px;
    border-color: darkcyan;
    font-weight: 700;
    color: black;
    font-size: 16px;
}
.button.success:hover{
    background-color: darkcyan;
}
.large-12cell{
    margin: 0 auto;
    align-items: center;
}
.button.alert {
    color: orangered;
    border-radius: 7px;
    color: black;
    border-color: orange;
    font-weight: 700;
    font-size: 16px;
}
.button.alert:hover {
    color: orange;
}
h3{
    text-align: center;
    font-size: 20px;
}
.title{
    font-size: 18px;
    font-weight: 900;
}