<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do App</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<h1>{{ page_title }}</h1>
<div class="flex-container">
<h2>Accedi alla tua To-Do list</h2>
 <div class="access">
   <input type="email" name="E-mail">
   <input type="password" name="Password">
 </div>
</div>
</body>
</html>
